:root {
  --clr-lightgrey: #5c5c5c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter';
  position: relative;
  // overflow: hidden;
}

@font-face {
  font-family: 'inter';
  src: url('/font/Inter-VariableFont_slnt,wght.ttf');
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.notActive {
  display: none;
}

.black_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #00000095;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #acacac;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span {
      color: var(--clr-lightgrey);
    }
  }

  .nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 0.5rem;
        list-style-type: none;
        color: var(--clr-lightgrey);
        transition: all 0.25s ease;
        user-select: none;

        &:hover {
          color: #272727;
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--clr-lightgrey);
          transition: all 0.25s ease;
          gap: 0.5rem;

          &:hover {
            color: #272727;
          }
        }
      }
    }
  }
}

.product {
  width: 100%;

  .product_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem;

    .inputDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      svg {
        position: absolute;
        left: 4%;
        color: #cacaca;
      }

      input {
        padding: 0.7rem 2rem;
        border: 1px solid #cacaca;
        border-radius: 0.5rem;

        &::placeholder {
          color: #cacaca;
        }
      }
    }
  }

  .product_shop {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;

    .product_card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem;
      width: 210px;
      height: 260px;
      border: 1px solid #cacaca;
      border-radius: 1rem;
      position: relative;
      gap: 0.5rem;
      transition: all 0.25s ease;

      &:hover {
        -webkit-box-shadow: 0px 7px 61px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 7px 61px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 7px 61px 0px rgba(34, 60, 80, 0.2);
      }

      .favorite {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #acacac;
        top: 10%;
        left: 10%;
        border: 1px solid #cacaca;
        border-radius: 0.5rem;
        padding: 0.3rem;
        transition: all 0.25s ease;
        cursor: pointer;
        background: none;

        &:hover {
          color: #ff8585;
          background-color: #fef0f0;
          border: 1px solid #fef0f0;
        }
      }
      .favoriteActive {
        position: absolute;
        top: 10%;
        left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.3rem;
        transition: all 0.25s ease;
        cursor: pointer;

        color: #ff8585;
        background-color: #fef0f0;
        border: 1px solid #fef0f0;
      }

      p {
        font-size: 0.9rem;
      }
      img {
        width: 150px;
      }

      .product_card__price {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          text-transform: uppercase;
          color: #cacaca;
          font-weight: bold;
          font-size: 0.7rem;
        }
        p {
          font-weight: bold;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;

          background: none;
          border: 1px solid #cacaca;
          border-radius: 0.5rem;
          padding: 0.5rem;

          cursor: pointer;
        }

        .buttonActive {
          display: flex;
          justify-content: center;
          align-items: center;

          border: none;
          // border: 1px solid linear-gradient(180deg, #89f09c 0%, #3cc755 100%) !important;
          background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
          color: white;

          border-radius: 0.5rem;
          padding: 0.5rem;

          cursor: pointer;
        }
      }
    }
  }
}

.skeleton {
  border: 1px solid #cacaca;
  border-radius: 1rem;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  .product_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    width: 210px;
    height: 260px;
    border: 1px solid #cacaca;
    border-radius: 1rem;
    position: relative;
    gap: 0.5rem;
    transition: all 0.25s ease;

    &:hover {
      -webkit-box-shadow: 0px 7px 61px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 7px 61px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 7px 61px 0px rgba(34, 60, 80, 0.2);
    }

    .favorite {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #acacac;
      top: 10%;
      left: 10%;
      border: 1px solid #cacaca;
      border-radius: 0.5rem;
      padding: 0.3rem;
      transition: all 0.25s ease;
      cursor: pointer;
      background: none;

      &:hover {
        color: #ff8585;
        background-color: #fef0f0;
        border: 1px solid #fef0f0;
      }
    }
    .favoriteActive {
      position: absolute;
      top: 10%;
      left: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      padding: 0.3rem;
      transition: all 0.25s ease;
      cursor: pointer;

      color: #ff8585;
      background-color: #fef0f0;
      border: 1px solid #fef0f0;
    }

    p {
      font-size: 0.9rem;
    }
    img {
      width: 150px;
    }

    .product_card__price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        text-transform: uppercase;
        color: #cacaca;
        font-weight: bold;
        font-size: 0.7rem;
      }
      p {
        font-weight: bold;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: 1px solid #cacaca;
        border-radius: 0.5rem;
        padding: 0.5rem;

        cursor: pointer;
      }

      .buttonActive {
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        // border: 1px solid linear-gradient(180deg, #89f09c 0%, #3cc755 100%) !important;
        background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
        color: white;

        border-radius: 0.5rem;
        padding: 0.5rem;

        cursor: pointer;
      }
    }
  }

  .favorite_empty {
    text-align: center;
    font-size: 2rem;

    a {
      text-decoration: none;
      color: white;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100%;

        border-radius: 1rem;
        border: none;
        background-color: rgba(157, 212, 88, 1);
        color: white;
        font-weight: bold;

        position: relative;
        transition: all 0.25s ease;
        cursor: pointer;

        margin-top: 2rem;

        svg {
          position: absolute;
          left: 20%;
          top: 10%;
          z-index: 3;
          transition: all 0.25s ease;
        }

        &:hover {
          background-color: rgb(175, 236, 100);
          svg {
            left: 18%;
          }
        }
      }
    }
  }
}

.cart {
  position: fixed;

  overflow-y: scroll;
  top: 0;
  right: 0;
  height: 100vh;
  width: 450px;
  z-index: 2;
  background-color: white;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 1rem 1.5rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  .cart_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10rem;
  }

  .added_items {
    padding-top: 1rem;

    .added_items_card {
      margin-block: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cacaca;
      border-radius: 1rem;

      padding: 1rem;
      gap: 1rem;

      .card_inner {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 100px;
        }
        .card_info {
          span {
            font-weight: bold;
          }
        }
      }

      svg {
        border: 1px solid #cacaca;
        cursor: pointer;
        border-radius: 0.6rem;
        padding: 0.5rem;
        color: #cacaca;

        align-self: flex-end;
      }
    }
  }

  .cart_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 4rem;
    height: 100%;

    .cart_empty_inner {
      text-align: center;

      * {
        padding-block: 0.5rem;
      }

      p {
        text-align: center;
        color: var(--clr-lightgrey);
      }

      button {
        padding: 1rem;
      }
    }
  }

  .confirm_order {
    justify-self: flex-end;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;

    border-radius: 1rem;
    border: none;
    background-color: rgba(157, 212, 88, 1);
    color: white;
    font-weight: bold;

    position: relative;
    transition: all 0.25s ease;
    cursor: pointer;

    margin-top: 2rem;

    svg {
      position: absolute;
      left: 20%;
      top: 10%;
      z-index: 3;
      transition: all 0.25s ease;
    }

    &:hover {
      background-color: rgb(175, 236, 100);
      svg {
        left: 18%;
      }
    }
  }
}

.cart_order_confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  .confirm_order {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile {
  width: 100%;

  .orders {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .orders_card {
      padding: 1rem;

      .orders_card_inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        gap: 2rem;

        .orders_sneaker_card {
          border: 1px solid #cacaca;
          border-radius: 2rem;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          margin-top: 1rem;
          padding: 2rem;

          img {
            width: 100px;
            height: 100px;
          }

          span {
            max-width: 150px;
          }
        }
      }
    }
  }
}
